@using FreakyFashion.Data.Entities
@model IEnumerable<Category>

    <div class="categories">
        <div class="row">
            <div class="col">
                <h2 class="header">Check this out :</h2>
            </div>
        </div>

        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col">
                    <div class="spot">
                        <img class="category-img" src="@category.ImageUri" />
                        <div class="category-img-overlay">@category.Name</div>
                    </div>
                </div>
            }
        </div>
    </div>
