@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="categories">
        <div class="row">
            <div class="col">
                <h2 class="header">Check this out :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="spot">
                    <img class="category-img" src="img/campaign.jpg" />
                    <div class="category-img-overlay">Campaign</div>
                </div>
            </div>
            <div class="col">
                <div class="spot">
                    <img class="category-img" src="img/news.jpg" />
                    <div class="category-img-overlay">News</div>
                </div>
            </div>
            <div class="col">
                <div class="spot">
                    <img class="category-img" src="img/spring.jpg" />
                    <div class="category-img-overlay">Season</div>
                </div>
            </div>
        </div>
    </div>
