@using FreakyFashion.Data.Entities
@model IEnumerable<Category>

    <div class="categories">
        <div class="row">
            <div class="col">
                <h2 class="header">Check this out :</h2>
            </div>
        </div>

        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col">
                    <a class="img-container" href="/category/@category.Id">
                        <img class="img" src="@category.ImageUri" />
                        <div class="img-overlay">@category.Name</div>
                    </a>
                </div>
            }
        </div>
    </div>
