@using FreakyFashion.Data.Entities

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreakyFashion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt&display=swap" 
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-black p-0">
            <div class="navbar-row pt-4">
                <a class="navbar-brand logo navbar-link px-3 py-1" href="/">Freaky Fashion</a>

                <div class="input-group search">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">
                                search
                            </i>
                        </span>
                    </div>

                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" />
                </div>

                <span class="align-right d-flex">
                    <a href="/Identity/Account/Login" class="navbar-link d-flex align-items-center">
                        <i class="material-icons navbar-icon m-1">
                            meeting_room
                        </i>
                        Sign in
                    </a>
                    <a href="#" class="navbar-link d-flex align-items-center">
                        <i class="material-icons navbar-icon m-1">
                            shopping_cart
                        </i>
                        Cart
                    </a>
                </span>

            </div>

            @await Component.InvokeAsync("NavLinks", new { isFooter = false })
           
        </nav> 
    </header>
    <div class="container">
        <main role="main" class="px-5 pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-info">
                        <i class="material-icons footer-icon">
                            mail_outline
                        </i>
                        Free shipment & returns
                    </div>
                </div>
                <div class="col">
                    <div class="footer-info">
                        <i class="material-icons footer-icon">
                            flight
                        </i>
                        Express delivery
                    </div>
                </div>
                <div class="col">
                    <div class="footer-info">
                        <i class="material-icons footer-icon">
                            security
                        </i>
                        Safe payments
                    </div>
                </div>
                <div class="col">
                    <div class="footer-info">
                        <i class="material-icons footer-icon">
                            sentiment_satisfied_alt
                        </i>
                        New products every day
                    </div>
                </div>
            </div>

            @await Component.InvokeAsync("NavLinks", new { isFooter = true })
            
            <div class="row">
                <div class="col d-flex justify-content-center">
                    &copy; Jenny Kallerup
                </div>
            </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
