<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreakyFashion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" 
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
                
            <a class="navbar-brand logo" href="/">Freaky Fashion</a>
  
            <div class="input-group search">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons">
                            search
                        </i>
                    </span>
                </div>

                <input type="text" class="form-control" placeholder="Search..." aria-label="Search" />
            </div>
               
            <span class="align-right">
                <i class="material-icons navbar-icon m-2">
                    account_circle
                </i>
                <i class="material-icons navbar-icon m-2">
                    shopping_cart
                </i>
            </span>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FreakyFashion - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
