@using FreakyFashion.Data.Entities

@model List<Product>

@{ 
    int counter = 0;
}

<div class="row mt-4">
    <div class="col">
        <h2 class="header">Today's freaky</h2>
    </div>
</div>

@while(counter < Model.Count())
{    
    <div class="row">
        @for (int i = 0; i < 4; i++)
        {
            @if (counter != Model.Count())
            {
                var product = Model[counter++];

                <partial name="_ProductCard" model="product" />
            }
        }
    </div>
}




