@model string

    <a href="/Identity/Account/Manage" class="navbar-link d-flex align-items-center">
        <i class="material-icons navbar-icon m-1">
            account_circle
        </i>
        @Model
    </a>
   
    
