
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "_Layout";
}

@section Style{
    <style>
        .content{
            overflow-y: auto;
        }

        .sidebar {
            margin: -16px 16px -48px -48px;
            padding: 24px;
        }

        .admin-container {
            height: 600px;
        }

        .admin-link{
            display: flex;
            align-items: center;
            margin: 16px 0;
        }

        .admin-link:hover{
            color: gray;
        }

        .btn-admin {
            display: flex;
            align-items: center;
            border: 2px solid #ffa2ef;
            border-radius: 4px;
            background-color: white;
            color: black;
        }

    </style>

    @RenderSection("Style", required: false)
}

<div class="admin-container d-flex">
    <div class="sidebar w-25 align-self-stretch bg-light">
        <a class="admin-link" asp-area="Admin" asp-page="/Index">
            <i class="material-icons mr-2">
                dashboard
            </i>
            Dashboard
        </a>
        <a class="admin-link" asp-area="Admin" asp-page="/AdminProduct/Index">
            <i class="material-icons mr-2">
                local_mall
            </i>
            Products
        </a>
        <a class="admin-link" asp-area="Admin" asp-page="/AdminCategory/Index">
            <i class="material-icons mr-2">
                category
            </i>
            Categories
        </a>
    </div>

    <div class="content w-75">
        @RenderBody()
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
}


