.align-right {
    position: absolute;
    right: 16px;
}

.bg-black {
    background-color: black;
}

.btn-freaky {
    background-color: #ffa2ef;
    color: white;
}

.btn-freaky:active {
    background-color: black;
    color: white;
}

.header {
    font-family: 'Shadows Into Light', cursive;
}

.hero {
    margin-top: 32px;
    height: 350px;
}

.hero-item {
    padding: 0 150px;
}

.hero-image {
    height: 350px;
    width: 350px;
}

.hero-info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.input-group-text{
    border-radius: 18px;
}

.form-control{
    border-radius: 18px;
}

.logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 78px;
}

.navbar {
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
}

.navbar-icon {
    font-size: 40px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-link:link {
    color: white;
    margin: 0 16px;
    
}

navbar-link:visited {
    color: #ffa2ef;
}

.navbar-link:hover {
    color: #ffa2ef;
    text-decoration: none;
}

.navbar-link:active {
    color: white;
}

.navbar-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.price {
    font-family: 'Shadows Into Light', cursive;
    font-size: 32px;
}

.search{
    width: 25%;
}

