* {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #ffa2ef;
    color: black;
    padding: 16px 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

main{
    margin-top: 200px;
}

ul {
    list-style: none;
}

.align-right {
    position: absolute;
    right: 16px;
}

.bg-black {
    background-color: black;
}

.btn-freaky {
    background-color: #ffa2ef;
    color: black;
}

.btn-freaky:active {
    background-color: black;
    color: white;
}

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 32px;
    padding: 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.category-img {
    display: block;
    width: 100%;
    height: auto;
}

.category-img-overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: #ffa2ef;
    color: black;
    font-family: 'Rock Salt', cursive;
    font-size: 32px;
}

.col{
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 32px 0 0 0;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover {
    background-color: #ffa2ef;
    color: black;
}

.header {
    font-family: 'Rock Salt', cursive;
}

.hero {
    margin-top: 32px;
    height: 350px;
}

.hero-item {
    padding: 0 150px;
}

.hero-image {
    height: 350px;
    width: 350px;
}

.hero-info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.input-group-text {
    border-radius: 18px;
    background-color: #ffa2ef;
    color: black;
    border-color: #ffa2ef;
}

.footer-icon{
    margin-right: 8px;
}

.footer-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-control {
    border-radius: 18px;
    border-color: #ffa2ef;
}

.link{
    cursor: pointer;
}

.logo {
    font-family: 'Rock Salt', cursive;
    font-size: 48px;
}

.navbar {
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
}

.navbar-icon {
    font-size: 40px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-link:link {
    color: white;
    margin: 0 16px;
}

navbar-link:visited {
    color: #ffa2ef;
}

.navbar-link:hover {
    color: #ffa2ef;
    text-decoration: none;
}

.navbar-link:active {
    color: white;
}

.navbar-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.price {
    font-family: 'Rock Salt', cursive;
    font-size: 24px;
}

.img-container{
    width: auto;
}

.product-img{
    width: 100%;
    height: auto;
    margin: 16px 0;
}

.search{
    width: 25%;
}

.spot{
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.spot:hover .category-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

