@page "{urlSlug}"
@model FreakyFashion.CategoryModel
@{
    ViewData["Title"] = "Category";

    int counter = 0;
    int numberOfProducts = Model.ProductList.Count();
}

<div class="row mt-4">
    <div class="col">
        <h2 class="header">@Model.Category.Name</h2>
    </div>
</div>

@while (counter < numberOfProducts)
{
    <div class="row">
        @for (int i = 0; i < 4; i++)
        {
            @if (counter == numberOfProducts) break;
            
            var product = Model.ProductList[counter++];

            <partial name="_ProductCard" model="product" />
            
        }
    </div>
}