@page
@model FreakyFashion.Areas.Admin.AdminProduct.CreateModel
   
    <form method="post" class="p-3">
        <div>
            <div class="row align-items-center">
                <div class="col-8">
                    <h4>Add product</h4>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-admin">
                        <i class="material-icons mr-2">
                            save
                        </i>
                        Save
                    </button>
                </div>
                <div class="col-2">
                    <a class="admin-link" asp-page="Index">
                        <i class="material-icons mr-2">
                            arrow_back
                        </i>
                        Back
                    </a>
                </div>
            </div>

            <hr />
        </div>

        <div class="row">
            <div class="col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group w-75">
                    <label asp-for="Product.Name" class="control-label"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group mr-4">
                        <label asp-for="Product.ArticleNumber" class="control-label"></label>
                        <input asp-for="Product.ArticleNumber" class="form-control" />
                        <span asp-validation-for="Product.ArticleNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group ml-4">
                        <label asp-for="Product.Price" class="control-label"></label>
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Description" class="control-label"></label>
                    <textarea rows="5" asp-for="Product.Description" class="form-control"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>

                <div class="form-group w-75">
                    <label asp-for="Product.ImageUri" class="control-label"></label>
                    <input asp-for="Product.ImageUri" class="form-control" />
                    <span asp-validation-for="Product.ImageUri" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
